transformers
datasets
pandas
numpy
matplotlib
seaborn
langdetect
textblob
googletrans==4.0.0rc1
wordcloud
plotly
country_converter
torch
torchvision
torchaudio
scikit-learn
sentence-transformers
umap-learn
ipywidgets
streamlitplotly
pyngrok
