transformers
datasets
pandas
numpy
matplotlib
seaborn
langdetect
textblob
googletrans==4.0.0rc1
wordcloud
plotly==5.18.0
country_converter
torch
torchvision
torchaudio
scikit-learn
sentence-transformers
umap-learn
ipywidgets
streamlit
pyngrok
